# BlockFamilyProvider Fields and Methods
public-f net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider mapping # mapping
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider door (Lnet.minecraft.world.level.block.Block;)Lnet.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider;
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider trapdoor (Lnet.minecraft.world.level.block.Block;)V

# BlockBehaviour Method
public net.minecraft.world.level.block.state.BlockBehaviour getSoundType (Lnet.minecraft.world.level.block.state.BlockState;)Lnet.minecraft.world.level.block.SoundType;

# AbstractFurnaceBlockEntity Fields and Methods
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity isLit ()Z
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingTotalTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity items
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity getTotalCookTime (Lnet.minecraft.world.level.Level;Lnet.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity;)I
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity quickCheck
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity canBurn (Lnet.minecraft.core.RegistryAccess;Lnet.minecraft.world.item.crafting.RecipeHolder;Lnet.minecraft.core.NonNullList;I)Z
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity getBurnDuration (Lnet.minecraft.world.item.ItemStack;)I
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity burn (Lnet.minecraft.core.RegistryAccess;Lnet.minecraft.world.item.crafting.RecipeHolder;Lnet.minecraft.core.NonNullList;I)Z

# Vec3i Methods
public net.minecraft.core.Vec3i setX (I)Lnet.minecraft.core.Vec3i;
public net.minecraft.core.Vec3i setY (I)Lnet.minecraft.core.Vec3i;
public net.minecraft.core.Vec3i setZ (I)Lnet.minecraft.core.Vec3i;
